{{!< desktop}}

<section class="chat">
  <div class="chat__left">
    <a class="chat-profile">
      <img src="../assets/img/avatar.jpg" alt="avatar" class="chat-profile__avatar">
      <p class="chat-profile__name">user</p>
    </a>
    <input class="chat__search" name="search" type="text" placeholder="Поиск"/>
    <div class="chat__users">
      <div class="chat-user">
        <img src="../assets/img/avatar.jpg" alt="avatar" class="chat-user__avatar">
        <div class="chat-user__text">
          <p class="chat-user__name">user</p>
          <p class="chat-user__message">Некоторое сообщение</p>
        </div>
          <p class="chat-user__time">10:00</p>
          <div class="chat-user__count">5</div>
      </div>
      <div class="chat-user">
        <img src="../assets/img/avatar.jpg" alt="avatar" class="chat-user__avatar">
        <div class="chat-user__text">
          <p class="chat-user__name">user</p>
          <p class="chat-user__message">Некоторое сообщение</p>
        </div>
          <p class="chat-user__time">10:00</p>
          <div class="chat-user__count">5</div>
      </div>
      <div class="chat-user">
        <img src="../assets/img/avatar.jpg" alt="avatar" class="chat-user__avatar">
        <div class="chat-user__text">
          <p class="chat-user__name">user</p>
          <p class="chat-user__message">Некоторое сообщение</p>
        </div>
        <p class="chat-user__time">10:00</p>
        <div class="chat-user__count">5</div>
      </div>
    </div>
  </div>
  <div class="chat__right">
    <p> а тут будет чат</p>
  </div>
</section>
