
{{!< desktop}}
    <main>
          <ul>
            <li>
                <a href="login.hbs">Логин</a>
            </li>
            <li>
                <a href="profile.hbs">Профиль</a>
            </li>
            <li>
                <a href="main.hbs">Чат</a>
            </li>
            <li>
                <a href="sign.hbs">Регистрация</a>
            </li>
            <li>
                <a href="404.hbs">404</a>
            </li>
          </ul>
        </div>
    </main>